* {
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  min-width: 350px;
  min-height: 100vh;
  background-color: white;
  border-radius: 10px;
  margin: 1em auto;
}

input,
textarea {
  min-width: 320px;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid #c1c1c1;
  margin-top: 20px;
  min-height: 60px;
  padding-left: 10px;
}

textarea {
  height: 200px;
  padding-top: 10px;

}

button {
  display: flex;
  margin: 0 auto;
  padding: 20px 12px;
  border: none;
  border-radius: 10px;
  background: rgb(210, 0, 0);
  color: white;
  cursor: pointer;

}

.submit-container {
  display: flex;
  width: 100%;
  margin: 1em 0;
}

button:hover {
  opacity: 0.7;
}

button:active {
  opacity: 0.5;

}

h1 {
  text-align: center;

}