* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #fafafa;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}


.about {
  max-width: 1390px;
  margin: 1em auto;
}

.container {
  margin: auto;
  background: #fff;
  padding: 40px;
  border-radius: 12px;
}


h1 {
  font-size: 2.2em;
  color: #fac031;
  margin-bottom: 20px;
  border-bottom: 1px solid #cccccc40;
}


p {
  font-size: 14px;
  text-align: justify;
  margin-bottom: 15px;
}


button {
  display: inline-block;
  text-align: left;
  background: #fac031;
  color: #fff;
  font-size: 18px;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #e65500;
  transform: scale(1.05);
}